<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel='stylesheet' href='/stylesheets/style.css' />
  </head>
  <body>
    <div id="bodyDiv">
    <h1>Üdvözöllek az Azure világában!</h1>

    <h2><%= data.title %></h2>
    <p>NodeJS Verzió: <%= data.nodeVerison %></p>
    </div>
  </body>
</html>
