<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="bodyDiv">
      <h1>Üdvözöllek Felhő világában!</h1>
      <h2><%= data.title %></h2>
      <div style="text-align: center">- Docker verzió a 6. alkalomkor-</div>
      <p>NodeJS Verzió: <%= data.nodeVerison %></p>
      <p>Kiszolgáló neve: <%= data.host %></p>
    </div>
  </body>
</html>
