<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="bodyDiv">
      <h1>Akácméz a Felhőben!</h1>
  <!----    <h2><%= data.title %></h2> -->
      <div style="text-align: center">- Mézet a termelőtől! -</div>
  <!--    <p>NodeJS Verzió: <%= data.nodeVerison %></p>
      <p>Kiszolgáló neve: <%= data.host %></p>  -->
    </div>
  </body>
</html>
