<!DOCTYPE html>
<html>
  <head>
    <title><%= data.title %></title>
    <link rel="stylesheet" href="/stylesheets/style.css" />
  </head>
  <body>
    <div id="bodyDiv">
      <h1>Üdvözöllek az Azure világában!</h1>
      <p>Docker alapon</p>
      <h2><%= data.title %></h2>
      <p>NodeJS Verzió: <%= data.nodeVerison %></p>
      <p>Host: <%= data.host ></p>
      <div>
        
        <img src="/images/docker.png" width="150px;" />
      </div>
    </div>
  </body>
</html>
